
<div class="list-group">
    <a href="javascript:void(0)" class="list-group-item active"><i class="glyphicon glyphicon-earphone"></i> Phone
      	<span data-toggle="modal" ng-click="madaltitle()" data-target="#myModal" class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
    </a>

  	<div class="input-group btn-block">
      <input type="text" class="form-control input-block" ng-model="search" placeholder="Search">
    </div><!-- /input-group -->
  

  <a href="javascript:void(0)" class="list-group-item" 
  ng-repeat="(key, contact) in contacts | filter:search | orderBy:'name'" >
	<span class="pull-left label label-default" data-toggle="modal" data-target="#myModal" ng-click="openlist(contact.id)"><i class="glyphicon glyphicon-edit"></i></span>
   	&nbsp;&nbsp;{{contact.name}} {{contact.phone}} 
  	<span class="pull-right label label-danger" ng-click="deleted(contact.id)"><i class="glyphicon glyphicon-minus"></i></span>
  </a>

</div>


<form name="myForm">
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"></h4>
      </div>
      <div class="modal-body">
        
        <div class="form-group">
		    <label >Name</label> <span id="spnNameStatus"></span>
		    <input type="text" ng-model="nickname" id="txtName" class="form-control" placeholder="Name">
		</div>
		<div class="form-group">
		    <label >Phone</label> <span id="spnPhoneStatus"></span>
		    <input type="tel" id="txtPhone" ng-model="phone" minlength="10" maxlength="10" class="form-control" placeholder="Phone" >
		</div>

      </div>
      <div class="modal-footer">
        <button type="button"  ng-if="idrow === undefined" id="savephone" ng-click="add()" class="btn btn-primary">Save</button>
        <button type="button" ng-if="idrow !== undefined" id="savephone" ng-click="updatelist()" class="btn btn-primary">Save</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


</form>